

@model List<Product>
@{
    string returnUrl = Context.Request.Path.Value ?? "null";

}


<main class="shop">
    <!-- Banner Start -->
    <section id="News-banner">
        <div class="banner-part">
            <div class="banner-content">
                <h3>Restaurant</h3>
                <h1>Shop</h1>
                <p class="yellow">Danny's</p>
            </div>
            <div class="overlay"></div>
        </div>
    </section>
    <!-- Banner End -->


    <div class="content ">
        <div class="container">

            <div class="full-shop-header">
                <h2>Shop</h2>
                <div class="filter-section">
                    <p>SHOWING <span class="ProductCount">@Model.Count</span>   OF @ViewBag.Count RESULTS</p>

                </div>
            </div>
            <div class="menu-list">
                <div class="menu-list-right">
                    <ul class="products-list" style="justify-content:flex-start">
                        @if (Model.Count > 0)
                        {
                            <div class="products" style="display:flex;flex-wrap:wrap">
                                @foreach (var product in Model)
                                {
                                <li class="products-block">
                                    <a asp-action="Detail" asp-route-id="@product.Id" class="product-link">
                                        <img class="img-responsive" src="@product.ProductImgs.FirstOrDefault(x=>x.IsMain)?.Url" alt="">
                                        <div class="info-wrapper">
                                            <div class="btn-add-to-cart">
                                                <a asp-action="AddToBasket" asp-route-page="@ViewBag.Page" asp-route-id="@product.Id" asp-route-returnUrl="@Context.Request.Path.Value" class="btn cart-btn"> Add to cart</a>
                                            </div>
                                            <h2 class="product-title">@product.Name</h2>

                                            <span class="price">$@(product.Price - (product.Price * product.Discount / 100))</span>

                                        </div>
                                    </a>
                                </li>

                            }

                        </div>@if (ViewBag.PageCount > ViewBag.Page)
                        {
                            <li style="margin:10px auto" class="products-block paginationBtnSection fancy-pag visible-lg visible-md">
                                <div class="fancy-inner-block">
                                    <div class="pag-arrows">
                                        <a data-page="@ViewBag.Page" asp-action="LoadMore" class="nextBtn">
                                            <h2>NEXT</h2>

                                        </a>
                                    </div>
                                </div>
                            </li>
                        }
                    }
                    else
                    {
                        <h2>Product Not Found</h2>
                    }

                        </ul>
                    </div>
                </div>

            </div>



            </div>
        </main>






        <script>const nextBtn = document.querySelector('.nextBtn');
            const productArea = document.querySelector('.products');
            const ProductCount = document.querySelector('.ProductCount')
            const paginationSection = document.querySelector('.paginationBtnSection')

            nextBtn.addEventListener('click', async (e) => {
                e.preventDefault();

                nextBtn.dataset.page++;
                const response = await fetch(nextBtn.href + `?page=${nextBtn.dataset.page}`);


                const products = await response.json();


                products.forEach(product => {
                    const mainImg = product.productImgs.find(x => x.isMain == true);

                    const price = product.discount > 0
                        ? product.price - (product.price * product.discount / 100)
                        : product.price;


                    const fixedPrice = price.toFixed(2);


                    productArea.innerHTML += `
                                                            <li class="products-block">
                                                                <a href="Shop/Detail/${product.id}" class="product-link">
                                                                    <img class="img-responsive" src="${mainImg.url}" alt="">
                                                                    <div class="info-wrapper">
                                                                        <div class="btn-add-to-cart">
                                                                            <a href="/Shop/AddToBasket/${product.id}?page=${nextBtn.dataset.page}" class="btn cart-btn">Add to cart</a>
                                                                        </div>
                                                                        <h2 class="product-title">${product.name}</h2>
                                                                        <span class="price">${fixedPrice}</span>
                                                                    </div>
                                                                </a>
                                                            </li>
                                                        `;
                });
                let count = parseInt(ProductCount.innerHTML)
                ProductCount.innerHTML = count + products.length

                if (@ViewBag.PageCount== nextBtn.dataset.page) {
                    paginationSection.innerHTML=''
                }

            });</script>