@model List<Reservation>
@{
    int count = 1;
}


<!-- partial -->
<div class="main-panel" style="padding:0px">
    <div class="content-wrapper">
        <div class="page-header">
            <h3 class="page-title"> Reservations</h3>

        </div>
        <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">

                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th> # </th>
                                        <th> Id </th>
                                        <th> Username </th>
                                        <th>Status</th>
                                        <th> Ordered Time </th>
                                        <th>Status</th>
                                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="3" aria-label="Position: activate to sort column ascending">Actions</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var order in Model)
                                    {
                                        <tr>

                                            <td> @(count++) </td>
                                            <td> @order.Name</td>
                                            <td> @order.Email </td>
                                            <td> @order.TableId </td>
                                            <td> @order.Date </td>
                                            <td>
                                                @{
                                                    if (order.IsDone ==true)
                                                    {
                                                        
                                                        <p class="btn btn-success statusOutput">Is done</p>  
                                                        

                                                    }
                                                    else
                                                    {
                                                        <p class="btn btn-primary cancelOutput`">Hasn't done yet</p>
                                                    }

                                                }
                                            </td>
                                            @if (order.IsDone is false)
                                            {
                                                <td><a class="btn btn-primary cancelRepairBtn"  asp-action="RepairOrEnd" asp-route-id="@order.Id">End Reservation</a></td> 

                                            }
                                            else if(order.IsDone is true)
                                            {
                                                <td><a class="btn btn-success cancelRepairBtn"   asp-action="RepairOrEnd" asp-route-id="@order.Id">Repair Reservation</a></td>
                                            }

                                        </tr>
                                    }



                                </tbody>
                            </table>
                            <br />
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-end">
                                    <li class="page-item @(ViewBag.CurrentPage==1 ? "disabled" : "")">
                                        <a class="page-link" asp-action="index" asp-route-page="@(ViewBag.CurrentPage-1)">Previous</a>
                                    </li>
                                    @for (int i = 1; i <= ViewBag.PageCount; i++)
                                    {
                                        <li class="page-item"><a class="page-link @(ViewBag.CurrentPage==i ? "active" : "")" asp-action="index" asp-route-page="@i">@i</a></li>

                                    }

                                    <li class="page-item @(ViewBag.CurrentPage==ViewBag.PageCount ? "disabled" : "")">
                                        <a class="page-link" asp-action="index" asp-route-page="@(ViewBag.CurrentPage+1)">Next</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- content-wrapper ends -->
    <!-- partial:../../partials/_footer.html -->
    <!-- partial -->
</div>


@*<script>const prevButtons = document.querySelectorAll('.prevBtn');
    const nextButtons = document.querySelectorAll('.nextBtn');

    const statusButtons = document.querySelectorAll('.statusOutput');

    prevButtons.forEach((btn, i) => {
        btn.addEventListener('click', (e) => {
            e.preventDefault();
            if (btn.dataset.status != 'False') {

                const response = fetch(btn.href)
                if (btn.dataset.status == 'True') {
                    statusButtons[i].classList.remove('btn-success')
                    statusButtons[i].classList.add('btn-warning')
                    statusButtons[i].innerHTML = 'On the way'
                    btn.dataset.status = "null"
                    nextButtons[i].dataset.status = 'null'
                }
                else {
                    statusButtons[i].classList.remove('btn-warning')
                    statusButtons[i].classList.add('btn-secondary')
                    statusButtons[i].innerHTML = 'Is ordered'
                    btn.dataset.status = "False";
                    nextButtons[i].dataset.status = "False";
                }
            }

        })
    })


    nextButtons.forEach((btn, i) => {
        btn.addEventListener('click', (e) => {
            e.preventDefault();
            if (btn.dataset.status != 'True') {

                const response = fetch(btn.href)
                if (btn.dataset.status == 'False') {
                    statusButtons[i].classList.remove('btn-secondary')
                    statusButtons[i].classList.add('btn-warning')
                    statusButtons[i].innerHTML = 'On the way'
                    btn.dataset.status = "null"
                    prevButtons[i].dataset.status = 'null'
                }
                else {
                    statusButtons[i].classList.remove('btn-warning')
                    statusButtons[i].classList.add('btn-success')
                    statusButtons[i].innerHTML = 'Is done'
                    btn.dataset.status = "True"
                    prevButtons[i].dataset.status = 'True'
                }
            }

        })
    })</script>*@