@model List<Category>

<main class="menu">
    <!-- Banner Start -->
    <section id="Menu-banner">
        <div class="banner-part">
            <div class="banner-content">
                <h3>Restaurant</h3>
                <h1>Menu</h1>
                <p>Juicy Flavours</p>
            </div>
        </div>
    </section>
    <!-- Banner End -->
    <!-- MenuPart Start -->
    <section id="Menu">
        <div class="container">
            <div class="row">
                @{

                        for (int i = 0; i < Model.Count; i++)
                        {
                            var category = Model[i];
                            var topProduct = category.Products.OrderByDescending(x => x.SalesCount).FirstOrDefault();

                        <div class="@(i%2==0 ? "menu1" : "menu2")">
                            <div class="menu-left col-lg-4 col-12">
                                <div class="wrapper-img">
                                    <img src="@topProduct.ProductImgs.FirstOrDefault(x=>x.IsMain).Url" alt="" />
                                    <div class="overlay"></div>
                                </div>
                                <div class="wrapper-content">
                                    <h3>@topProduct.Name</h3>
                                    <div class="empty">(@topProduct.Porsion G)</div>
                                    <p>
                                        @topProduct.Ingredients
                                    </p>
                                    @if (topProduct.Discount > 0)
                                    {
                                        <div class="price">$@(topProduct.Price-topProduct.Price*topProduct.Discount/100)</div>
                                     
                                    }
                                    else
                                    {
                                <div class="price">$@topProduct.Price</div>
                                    }

                                </div>
                            </div>
                            <div class="menu-right col-lg-8 col-12">
                                <div class="inner-content">
                                    <h5>@category.SubTitle</h5>
                                    <h2>@category.Title</h2>
                                </div>
                                <div class="menu-starter col-12">
                                    <ul>

                                        @foreach (var item in category.Products)
                                        {

                                            <li>
                                                <a asp-action="Detail" asp-controller="shop" asp-route-id="@item.Id">
                                                    <div class="item-main">
                                                        <h4>
                                                            @item.Name
                                                            <small>(@item.Porsion G)</small>
                                                        </h4>
                                                        <div class="zn-priceList-dottedSeparator"></div>
                                                        @if (item.Discount > 0)
                                                        {
                                                            <div class="itemPrice">$@(item.Price-item.Price*item.Discount/100)</div>
                                                        }
                                                        else
                                                        {
                                                            <div class="itemPrice">$@item.Price</div>
                                                        }
                                                    </div>
                                                    <div class="item-desc">
                                                        @item.Ingredients
                                                    </div>
                                                </a>
                                            </li>
                                        }

                                    </ul>
                                </div>
                            </div>
                        </div>


                    }

                }
            </div>
        </div>
    </section>

    <!-- MenuPart End -->
</main>
