@model List<Product>
@{
    int count = 1;
}


<!-- partial -->
<div class="main-panel" style="padding:0px; height:100vh;overflow:scroll">
    <div class="content-wrapper">
        <div class="page-header">
            <h3 class="page-title"> Product</h3>
           
        </div>
        <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div style="display: flex; align-items: center; justify-content: flex-end;margin-bottom:20px">
                            <a style="display:flex;align-items:center;justify-content:center;width:70px; height:40px;border-radius:6px ;color:white;background-color:navy; border:none;text-decoration:none " asp-action="Create">Create</a>

                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th> # </th>
                                        <th> Image </th>
                                        <th> Name </th>
                                        <th> Price </th>
                                        <th> Discount </th>
                                        <th> Description </th>
                                        <th> Created Time </th>
                                        <th> Created By </th>
                                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="3" aria-label="Position: activate to sort column ascending">Actions</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var product in Model)
                                    {
                                        <tr>

                                            <td> @(count++) </td>
                                            <td> <img src="@product.ProductImgs.FirstOrDefault(x=>x.IsMain)?.Url" style="border-radius: 30px; width: 75px; height:75px;object-fit: cover"/></td>
                                            <td> @product.Name</td>
                                            <td> @product.Price </td>
                                            <td> @product.Discount </td>
                                            <td> @product.Description </td>
                                            <td> @product.CreatedAt</td>
                                            <td> @product.CreatedBy</td>
                                            <td><a class="btn deleteBtn btn-danger" data-id="@product.Id" asp-action="Delete" asp-route-id="@product.Id">Delete</a></td>
                                            <td><a class="btn btn-warning" asp-action="Update" asp-route-id="@product.Id">Update</a></td>
                                            <td><a class="btn btn-primary" asp-action="Detail" asp-route-id="@product.Id">Detail</a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                            <br />
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-end">
                                    <li class="page-item @(ViewBag.CurrentPage==1 ? "disabled" : "")">
                                        <a class="page-link" asp-action="index" asp-route-page="@(ViewBag.CurrentPage-1)">Previous</a>
                                    </li>
                                    @for (int i = 1; i <= ViewBag.PageCount; i++)
                                    {
                                        <li class="page-item"><a class="page-link @(ViewBag.CurrentPage==i ? "active" : "")" asp-action="index" asp-route-page="@i">@i</a></li>

                                    }

                                    <li class="page-item @(ViewBag.CurrentPage==ViewBag.PageCount ? "disabled" : "")">
                                        <a class="page-link" asp-action="index" asp-route-page="@(ViewBag.CurrentPage+1)">Next</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
