@using Microsoft.Extensions.Options
@inject IOptions<StripeSettings> Stripe

@model List<Basketitem>

@{
    decimal totalPrice = 0;

    foreach (var item in Model)
    {
        totalPrice += item.Count * (item.Product.Price - (item.Product.Price * item.Product.Discount / 100));
    }
}

<main>
    <section id="News-banner">
        <div class="banner-part">
            <div class="banner-content">
                <h3>Restaurant</h3>
                <h1>Shop</h1>
                <p class="yellow">Danny's</p>
            </div>
            <div class="overlay"></div>
        </div>
    </section>
    <section id="Checkout">
        <div class="row">
            <form method="post" onsubmit="return validateForm()" class="col-12 col-md-12 col-lg-12 content-primary">
                <div class="col2-set" id="customer_details">
                    <div class="col-1">
                        <div class="woocommerce-billing-fields">
                            <h3>Billing details</h3>
                            <div class="field">
                                <p class="form-row address-field validate-required form-row-wide" id="billing_address_1_field" data-priority="50">
                                    <label for="billing_address_1" class="">Street address&nbsp;<abbr class="required" title="required">*</abbr></label>
                                    <span class="woocommerce-input-wrapper">
                                        <input type="text" class="input-text" id="billing_address_1" placeholder="House number and street name" value="" data-placeholder="House number and street name" required name="StreetAdrees" />
                                    </span>
                                </p>
                                <p class="form-row address-field form-row-wide" id="billing_address_2_field" data-priority="60">
                                    <label for="billing_address_2" class="screen-reader-text">Apartment, suite, unit, etc.&nbsp;<span class="optional">(optional)</span></label>
                                    <span class="woocommerce-input-wrapper">
                                        <input type="text" class="input-text" id="billing_address_2" placeholder="Apartment, suite, unit, etc. (optional)" value="" data-placeholder="Apartment, suite, unit, etc. (optional)" name="Apartment" />
                                    </span>
                                </p>
                                <p class="form-row address-field validate-required form-row-wide" id="billing_city_field" data-priority="70" data-o_class="form-row form-row-wide address-field validate-required">
                                    <label for="billing_city" class="">Town / City&nbsp;<abbr class="required" title="required">*</abbr></label>
                                    <span class="woocommerce-input-wrapper">
                                        <input type="text" class="input-text" id="billing_city" placeholder="" value="" required name="City" />
                                    </span>
                                </p>
                                <p style="flex: 0 0 50%; max-width: 100%" class="form-row form-row-wide validate-required validate-phone" id="billing_phone_field" data-priority="100">
                                    <label for="billing_phone" class="">Phone&nbsp;<abbr class="required" title="required">*</abbr></label>
                                    <span class="woocommerce-input-wrapper">
                                        <input type="tel" class="input-text" id="billing_phone" placeholder="" value="" name="PhoneNumber" required />
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="order-review-wrapper">
                    <h3 id="order_review_heading">Your order</h3>
                    <div id="order_review" class="woocommerce-checkout-review-order">
                        <table class="shop_table woocommerce-checkout-review-order-table">
                            <thead>
                                <tr>
                                    <th class="product-name">Product</th>
                                    <th class="product-name">Price</th>
                                    <th class="product-total">Subtotal</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var basketItem in Model)
                                {
                                    <tr class="cart_item">
                                        <td class="product-name">
                                            @basketItem.Product.Name
                                            <strong class="product-quantity">×@basketItem.Count</strong>
                                        </td>
                                        <td class="product-total">
                                            <span class="woocommerce-Price-amount amount">
                                                <bdi>
                                                    <span class="woocommerce-Price-currencySymbol">$</span>@basketItem.Product.Price
                                                </bdi>
                                            </span>
                                        </td>
                                        <td class="product-total">
                                            <span class="woocommerce-Price-amount amount">
                                                <bdi>
                                                    <span class="woocommerce-Price-currencySymbol">$</span>@(basketItem.Count * basketItem.Product.Price)
                                                </bdi>
                                            </span>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr class="cart-subtotal">
                                    <th>Subtotal</th>
                                    <td></td>
                                    <td>
                                        <span class="woocommerce-Price-amount amount">
                                            <bdi>
                                                <span class="woocommerce-Price-currencySymbol">$</span>@totalPrice
                                            </bdi>
                                        </span>
                                    </td>
                                </tr>
                                <tr class="order-total">
                                    <th>Total</th>
                                    <td></td>
                                    <td>
                                        <strong>
                                            <span class="woocommerce-Price-amount amount">
                                                <bdi>
                                                    <span class="woocommerce-Price-currencySymbol">$</span>@totalPrice
                                                </bdi>
                                            </span>
                                        </strong>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                        <div id="payment" class="woocommerce-checkout-payment">
                            <script
                            
                                    src="//checkout.stripe.com/v2/checkout.js"
                                    class="stripe-button"
                                    data-key="@Stripe.Value.Publishablekey"
                                    data-amount="@((totalPrice) * 100)"
                                    data-name="Dannys"
                                    data-locale="en"
                                    data-discription="Sample charge"
                                    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                                    data-zip-code="true"></script>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
</main>

<script>
    function validateForm() {
        var inputs = document.querySelectorAll('#customer_details input[required]');
        var isValid = true;

        inputs.forEach(function (input) {
            if (input.value.trim() === '') {
                isValid = false;
                input.classList.add('error');
            } else {
                input.classList.remove('error');
            }
        });

        return isValid;
    }</script>
