@model List<Coupon>
@{
    int count = 1;
}


<!-- partial -->
<div class="main-panel" style="padding:0px">
    <div class="content-wrapper">
        <div class="page-header">
            <h3 class="page-title"> Coupon</h3>
            
        </div>
        <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div style="display: flex; align-items: center; justify-content: flex-end;margin-bottom:20px">
                            <a style="display:flex;align-items:center;justify-content:center;width:70px; height:40px;border-radius:6px ;color:white;background-color:navy; border:none;text-decoration:none "
                               asp-action="Create">Create</a>

                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th> # </th>
                                        <th> Name </th>
                                        <th> Discount </th>
                                        <th> Created Time </th>
                                        <th> Created By </th>
                                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="2" aria-label="Position: activate to sort column ascending">Actions</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var coupon in Model)
                                    {
                                        <tr>

                                            <td> @(count++) </td>
                                            <td> @coupon.Name</td>
                                            <td> @coupon.Discount</td>
                                            <td> @coupon.CreatedAt</td>
                                            <td> @coupon.CreatedBy</td>
                                            <td><a class="btn deleteBtn btn-danger" data-id="@coupon.Id" asp-action="Delete" asp-route-id="@coupon.Id">Delete</a></td>
                                            <td><a class="btn btn-warning" asp-action="Update" asp-route-id="@coupon.Id">Update</a></td>
                                        </tr>
                                    }



                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- content-wrapper ends -->
    <!-- partial:../../partials/_footer.html -->
    <footer class="footer">
        <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2024 <a href="https://www.bootstrapdash.com/" target="_blank">BootstrapDash</a>. All rights reserved.</span>
            <span class="text-muted float-none float-sm-end d-block mt-1 mt-sm-0 text-center"> <span class="text-muted float-none float-sm-end d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="mdi mdi-heart text-danger"></i></span> <i class="mdi mdi-heart text-danger"></i></span>
        </div>
    </footer>
    <!-- partial -->
</div>



